{% extends 'portfolio/base.html' %}

{% block title %}Skills - Tejas Sreepathy{% endblock %}

{% block content %}
<!-- Skills Section -->
<section id="skills" class="skills section reveal active">
    <div class="section-title">
        <h2>Technical Skills</h2>
        <div class="line"></div>
    </div>
    <div class="skills-container">
        <div class="skill-category">
            <h3>Key Languages</h3>
            <div class="skill-tags">
                <span class="tag">Python</span>
                <span class="tag">C/C++</span>
                <span class="tag">JavaScript</span>
                <span class="tag">Java</span>
            </div>
        </div>

        <div class="skill-category">
            <h3>Tools & Platforms</h3>
            <div class="skill-tags">
                <span class="tag">Linux</span>
                <span class="tag">Git</span>
                <span class="tag">MySQL</span>
                <span class="tag">Wireshark</span>
                <span class="tag">SQLite</span>
                <span class="tag">Shodan</span>
                <span class="tag">Nmap</span>
                <span class="tag">OpenVAS</span>
                <span class="tag">Hydra</span>
            </div>
        </div>
        <div class="skill-category">
            <h3>Soft Skills</h3>
            <div class="skill-tags">
                <span class="tag">Leadership</span>
                <span class="tag">Time Management</span>
                <span class="tag">Adaptability</span>
                <span class="tag">Quick Learner</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
